/* inicio */
    body {
      font-family: monospace;
      margin: 0;
      padding: 0;
      background: #f3376fb9;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid #000;
      padding: 10px 20px;
    }

    nav a {
      margin-left: 15px;
      text-decoration: none;
      color: #11080f;
    }

    main {
      border: 2px solid #000;
      border-radius: 15px;
      margin: 40px auto;
      padding: 20px;
      width: 800px;
      background: rgb(216, 113, 121);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 300px;
    }

    article {
      max-width: 60%;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      color: rgb(17, 20, 20);
    }

    p {
      font-size: 14px;
      margin: 10px 0;
    }

    button {
      padding: 8px 15px;
      font-size: 14px;
      border: 2px solid #0a0809;
      background-color: rgb(124, 226, 233);
      cursor: pointer;
      border-radius: 5px;
    }

    figure {
      margin: 0;
      text-align: center;
    }

    figure img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #0f0d0e;
    }
    
    /* sobre Mi */
    section {
      border: 2px solid #000;
      border-radius: 15px;
      padding: 20px;
      width: 800px;
      margin: 20px auto;
      font-family: monospace;
      height: 300px;
    }

    article {
      display: inline-block;
      width: 40%;
      vertical-align: top;
      margin: 10px;
      padding: 10px;
      border: 2px solid #000;
      border-radius: 15px;
    }

    progress {
      width: 100%;
      height: 20px;
    }

    h1 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }

    ul {
      font-size: 13px;
      
    }